
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Horloge analogique*/

.container{
    margin-top: 3cm;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horloge{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 9px solid #3FAD5D;
    border-radius: 50%;
}

.horloge:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    z-index: 100;
}

.heure,.minute,.seconde{
    position: absolute;
}

.heure,.hr{
    height: 160px;
    width: 160px;
}

.minute,.min{
    height: 190px;
    width: 190px;

}

.seconde,.sec{
    height: 230px;
    width: 230px;
}

.hr,.min,.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    bottom: 50%;
    width: 8px;
    height: 80px;
    position: absolute;
    background-color: black;
    border-radius: 6px 6px 0 0;  
}

.min:before{
    content: '';
    bottom: 50%;
    width: 4px;
    height: 110px;
    position: absolute;
    background-color: black;
    border-radius: 6px 6px 0 0; 
}

.sec:before{
    content: '';
    bottom: 40%;
    width: 2px;
    height: 180px;
    position: absolute;
    background-color: red;
    border-radius: 6px 6px 0 0;
    
}


/*Horloge numérique*/

.clock{
    bottom: 40px;
    position: absolute;
    background: #3FAD5D;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

.clock-time{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:x-large;
    color: white;
}

.clock-day{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:x-small;
    color: white;
}